* {
    margin: 0;
    padding: 0;
}
 body {
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-simple-green-football-field-sunny-grass-background-picture-image_1216158.jpg');
    background-size: cover;
 }

.fotoPerfil {
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


header h1 {
    text-align: center;
    color: white;
}

ul {
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    background: yellow;    
}

li {
    font-weight: bold;
    cursor: pointer;
}

ul li {
    display: flex;
    text-decoration: none;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.fotoMain {
    height: 200px;
    margin: 2%;
    /* display: inline-block; */
    float: left;
}

.textoMain {
    
}

main h3 {
    display: flex;
    justify-content: center;
    margin: 2%;
    color: white;
}

main p {
    display: flex;
    justify-content: center;
    margin: 2%;
    color: white;
}

footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background: yellow;    
}